@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
}

:root {
    --azul1: #2596be;
    --azul2: #006680;
    --azul3: #061c25;
    --preto: #111111;
    --caramelo: #c28f2c;
    --branco: #ffffff;
    --cinza: #f8f8f8;
    --cinza-escuro: #535659;
}

main {
    min-height: 100vh;
    min-height: 100lvh;
    background-color: var(--preto);
    display: flex;
    justify-content: center;
}

.main-container {
    max-width: 1280px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    position: relative;
}

.main-container > h2 {
    color: var(--branco);
    font-size: 2rem;
}

.input-nome {
    outline: none;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--caramelo);
    color: var(--branco);
    width: 350px;
    padding: 0.5rem 1rem;
    margin: 1rem auto;
    font-size: 1rem;
}

.loading-gif {
    margin-top: 3rem;
}

.campeoes {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 1rem;
}

.campeao {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 280px;
    width: 100%;
    color: var(--preto);
    background-color: var(--caramelo);
    cursor: pointer;
    transition: all .2s;
    overflow: hidden;
    animation: anime .3s linear 0s 1 normal forwards;
}

.campeao:hover {
    background-color: var(--azul3);
    color: var(--branco);
}

.campeao:hover .campeao-nome {
    padding-left: 3rem;
}

.campeao:hover .campeao-img {
    transform: none
}

.campeao-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .2s;
    transform: scale3d(1.05, 1.05, 1);
}

.img-container {
    height: 300px;
    overflow: hidden;
}

.campeao-nome {
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .08rem;
    font-style: italic;
    padding: .5rem;
    padding-left: 1.5rem;
    align-self: flex-start;
    transition: all .2s;
}

.nome-invalido {
    color: var(--branco);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}

.nome-invalido span {
    font-size: 1.2rem;
}

.campeao-dados {
    background: var(--azul3);
    border: 1px solid var(--caramelo);
    display: none;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    color: var(--branco);
    margin: 0 1.5rem 1rem 1.5rem;
    width: 1280px;
    height: 550px;
    animation: displayDado .1s linear 0s 1 normal forwards;
}

.campeao-dados-img {
    height: 100%;
}

.campeao-dados-img img {
    height: 100%;
}

.campeao-dado {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    height: 100%;
    width: 100%;
}

.campeao-dado-nome-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.campeao-dado-nome-container img {
    width: 20%;
    display: none;
}

.campeao-dado-nome-container div {
    text-align: center;
}

.campeao-dado-titulo {
    font-size: 1.2rem;
}

.campeao-dado-nome {
    font-size: 2.5rem;
}

.campeao-dado-habilidades {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.campeao-dado-habilidades ul {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 1.5rem;
    position: relative;
}

.campeao-dado-habilidades ul li {
    cursor: pointer;
}

.habilidade-titulo {
    font-size: 2rem;
}

.habilidade-icone {
    max-width: 60px;
    max-height: 60px;
}

.habilidade-icone img {
    width: 100%;
}

.habilidade-icone.ativo {
    outline: 1px solid var(--caramelo);
    outline-offset: 5px;
    transform: translateY(-10px);
    transition: .5s;
}

.habilidade-icone.ativo::after {
    content: '';
    width: 10px;
    height: 10px;
    background-color: var(--caramelo);
    display: block;
    border-radius: 50%;
    margin: auto;
    margin-top: 5px;
}

.habilidades-desc{
    margin-top: 1rem;
    width: 100%;
}

.habilidades-desc .habilidade {
    display: none;
    flex-direction: column;
    animation: displayDado 1.5s linear 0s 1 normal forwards;
}

.habilidades-desc .habilidade span {
    color: var(--caramelo);
}

.habilidades-desc .habilidade h4 {
    font-size: 1.5rem;
}

.habilidades-desc .habilidade p {
    margin-top: .5rem;
}


.btn-fechar {
    border: none;
    outline: none;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 15px;
    top: 15px;
    background: none;
    cursor: pointer;
}

.btn-fechar::after, .btn-fechar::before {
    content: '';
    background-color: var(--caramelo);
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
}

.btn-fechar::after {
    transform: rotate(45deg);
}

.btn-fechar::before {
    transform: rotate(-45deg);
}

.btn-fechar:hover::after, .btn-fechar:hover::before {
    transition: .2s;
    filter: brightness(50%);
}

footer {
    background-color: var(--caramelo);
    color: var(--branco);
    text-align: center;
}

footer a {
    color: var(--branco);
}

@media (max-width: 1280px) {
    .campeao {
        max-width: none;
        width: 30%;
    }

    .campeao-dados {
        width: 95%;
    }
}

@media (max-width: 1050px) {
    .habilidades-desc {
        font-size: .9rem;
    }
}

@media (max-width: 930px) {

    .campeao-dados {
        top: 50%;
        transform: translateY(-50%);
        animation: displayDado .1s linear 0s 1 normal forwards;
    }

    .campeao-dados-img {
        display: none;
    }

    .campeao-dado-nome-container {
        justify-content: left;
        gap: 15%;
    }

    .campeao-dado-nome-container img {
        width: 20%;
        display: block;
    }

}

@media (max-width: 769px) {

    .input-nome {
        width: 100%;
    }

    .main-container > h2 {
        font-size: 1.5rem;
    }

    .campeoes {
        padding-left: 0;
        padding-right: 0;
    }

    .campeao {
        width: 45%;
    }

    .campeao:hover .campeao-nome {
        padding-left: 0;
    }

    .campeao-dado-nome-container {
        justify-content: space-evenly;
    }

    .campeao-nome {
        padding: 0;
        margin: auto;
        font-size: .8rem;
    }

    .nome-invalido img {
        width: 150px;
    }

    .nome-invalido span {
        font-size: .8rem;
    }

    .img-container {
        height: 150px;
        width: 100%;
    }
}

@media (max-height: 560px) {
    .campeao-dados {
        overflow-y: scroll;
        height: 90vh;
    }
}

@media (max-width: 560px) {

    .loading-gif {
        width: 80%;
    }

    .campeao-dado-nome-container {
        justify-content: left;
        gap: 15%;
    }
    
    .campeao-dado-titulo {
        font-size: 0.8rem;
    }
    
    .campeao-dado-nome {
        font-size: 1.5rem;
    }

    .habilidade-titulo {
        font-size: 1rem;
    }

    .habilidade-icone {
        max-width: 40px;
        max-height: 40px;
    }

    .habilidades-desc .habilidade span {
        font-size: .7rem;
        margin-top: .3rem;
    }

    .habilidades-desc .habilidade h4 {
        font-size: 1.2rem;
    }

    .habilidade-desc {
        font-size: 0.8rem;
    }

    .btn-fechar {
        width: 25px;
        height: 25px;
    }
}

@keyframes anime {
	0% {
		opacity: 0;
		transform: translateX(-50px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes displayDado {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}